<div class="container p-2">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button
          *ngFor="let country of countryList"
          type="button"
          class="btn btn-primary"
          [ngClass]="{ active: country.code === currentOrigin }"
          (click)="onSetCurrentCountry(country.code)"
        >
          {{ country.name }}
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
